.page-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rosybrown;
  min-height: 80px;
  padding: 15px 30px;
}
.page-header__link{}
.page-header__logo{}

   